@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto",
    "Arial",
    sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: $base-color;
  background-color: $bg;
}

body {
  overflow-y: scroll;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $base-color;
  transition: all 0.3s;

  &:hover,
  &:active,
  &:focus {
    color: $base-color;
  }

  &.phone {
    text-decoration: none;
  }

}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
